* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
.center {
  width: 1200px;
  margin: 0 auto;
}
.hero-page {
  background: #e1ff8f;
  height: 800px;
  position: relative;
}
.hero-page_info {
  padding-top: 196px;
}
.hero-page_heading {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  padding-bottom: 24px;
}
.hero-page_paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 48px;
}
.hero-page_button {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  width: 247px;
  height: 66px;
  background-color: black;
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  letter-spacing: 0px;
  text-align: center;
  transition: 0.7s;
}
.hero-page_button:hover {
  color: black;
  background-color: white;
}
.game-bg {
  position: relative;
  background: #202027;
}

.game_info {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: white;
  padding-top: 94px;
  text-decoration: none;
}

.game_info-paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: white;
  padding-top: 24px;
}
.game-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin-top: 72px;
}
.boxTop {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.boxBottom {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
  gap: 32px;
}
.game-menu a {
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid #f7f7f7;
  letter-spacing: 0px;
  border-radius: 60px;
}
.game-menu h1 {
  font-weight: 700;
  font-size: 32px;
}
.game-number {
  box-sizing: border-box;
  border: 1px solid #f7f7f7;
  border-radius: 60px;
  width: 111px;
  height: 36px;
  text-align: center;
  font-size: 16px;
  background-color: #f7f7f7;
  padding-top: 8px;
  margin-bottom: 32px;
}
.game-card {
  color: black;
  border-radius: 30px;
  width: 378px;
  height: 473px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
}
.card_info {
  padding: 32px;
}
.card_info p {
  padding-bottom: 16px;
}
.game-image1 {
  border-radius: 30px;
  max-width: 378px;
}
.game-image2 {
  border-radius: 30px;
  max-width: 378px;
  height: 512px;
}
.game-image3 {
  border-radius: 30px;
  max-width: 378px;
}
.game-image4 {
  border-radius: 30px;
  max-width: 378px;
  height: 551px;
}
.game-image5 {
  border-radius: 30px;
  max-width: 378px;
}
.game-card__img {
  border-radius: 30px;
}
.game-image6 {
  border-radius: 30px;
  max-width: 378px;
  height: 551px;
}
.star1 {
  position: absolute;
  color: #bcec30;
  right: 0;
  top: 90px;
}
.Stargroup {
  position: absolute;
  right: 0;
}
.Star2 {
  position: absolute;
  left: 63px;
  top: 94px;
}
.Star3 {
  position: absolute;
  left: 156px;
  top: 69px;
}
.Star4 {
  position: absolute;
  right: 455px;
  bottom: 255px;
}
.Star5 {
  position: absolute;
  right: 344px;
  bottom: 149px;
}
.Star6 {
  position: absolute;
  left: 25px;
  top: 770px;
}
.Star7 {
  position: absolute;
  left: 40px;
  top: 822px;
}
.top-block {
  align-self: flex-start;
}
.block-bottom {
  align-self: flex-end;
}
.mobail-heading {
  display: none;
}
.game-mobail_button {
  display: none;
}
.game-mobail_heading {
  display: none;
}
@media (max-width: 376px) {
  .center {
    width: 376px;
    margin: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .hero-page {
    width: 376px;
    height: 700px;
  }
  .hero-page_heading {
    width: 262px;
    height: 196px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
  }
  .hero-page_paragraph {
    width: 296px;
    height: 60px;
    text-align: center;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
  }
  .Stargroup {
    display: none;
  }
  .game_info {
    display: none;
  }
  .game_info-paragraph {
    display: none;
  }
  .star1 {
    display: none;
  }
  .Star6 {
    display: none;
  }
  .Star7 {
    display: none;
  }
  .game-card {
    width: 343px;
    height: 528px;
    display: block;
  }
  .game-card_one {
    width: 343px;
    height: 528px;
    display: block;
  }
  .game-card_two {
    width: 343px;
    height: 567px;
    display: block;
  }
  .game-card_three {
    width: 343px;
    height: 567px;
    display: block;
  }
  .game-card_four {
    width: 343px;
    height: 528px;
    display: block;
  }
  .game-card_five {
    width: 343px;
    height: 606px;
    display: block;
  }
  .game-card_six {
    width: 343px;
    height: 626px;
    display: block;
  }
  .game-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .boxBottom {
    display: block;
  }
  .boxTop {
    display: block;
  }
  .game-number {
    display: none;
  }
  .game-card__img {
    width: 343px;
    height: 284px;
  }
  .mobail-heading {
    display: block;
    font-size: 40px;
    font-weight: 700;
    width: 250px;
    height: 49px;
    color: #ffffff;
    align-self: flex-start;
    padding-left: 16px;
  }
  .game-mobail_heading {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    width: 249px;
    height: 40px;
    display: block;
    padding-top: 16px;
    padding-bottom: 32px;
  }
  .game-mobail_button {
    width: 285px;
    height: 55px;
    gap: 10px;
    border-radius: 60px;
    padding-top: 16px;
    padding-right: 28px;
    padding-bottom: 16px;
    padding-left: 28px;
    border-width: 1px;
    display: block;
    color: white;
    background-color: black;
  }
  .dekstop-viktorina {
    display: none;
  }
}
