* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}
.center {
  width: 1200px;
  margin: 0 auto;
}
.hero-page {
  background: #e1ff8f;
  height: 800px;
}
.hero-page_info {
  padding-top: 196px;
}
.hero-page_heading {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 100%;
  padding-bottom: 24px;
}
.hero-page_paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 48px;
}
.hero-page_button {
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 60px;
  width: 247px;
  height: 66px;
  background-color: black;
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 142%;
  letter-spacing: 0px;
  text-align: center;
  transition: 0.7s;
}
.hero-page_button:hover {
  color: black;
  background-color: white;
}
.game-bg {
  position: relative;
  background: #202027;
}

.game_info {
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
  color: white;
  padding-top: 94px;
  text-decoration: none;
}

.game_info-paragraph {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: white;
  padding-top: 24px;
}
.game-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  margin-top: 72px;
}
.boxTop {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  gap: 32px;
}
.boxBottom {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-end;
  align-items: flex-end;
  gap: 32px;
}
.game-menu a {
  text-decoration: none;
  box-sizing: border-box;
  border: 1px solid #f7f7f7;
  letter-spacing: 0px;
  border-radius: 60px;
}
.game-menu h1 {
  font-weight: 700;
  font-size: 32px;
}
.game-number {
  box-sizing: border-box;
  border: 1px solid #f7f7f7;
  border-radius: 60px;
  width: 111px;
  height: 36px;
  text-align: center;
  font-size: 16px;
  background-color: #f7f7f7;
  padding-top: 8px;
  margin-bottom: 32px;
}
.game-card {
  color: black;
  border-radius: 30px;
  width: 378px;
  height: 473px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
}
.card_info {
  padding: 32px;
}
.card_info p {
  padding-bottom: 16px;
}
.game-image1 {
  background-image: url(/kartinki/card1.jpg);
  background-repeat: no-repeat;
  border-radius: 30px;
  max-width: 378px;
}
.game-image2 {
  background-image: url(/kartinki/card2.jpg);
  background-repeat: no-repeat;
  border-radius: 30px;
  max-width: 378px;
  height: 512px;
}
.game-image3 {
  background-image: url(/kartinki/card3.jpg);
  background-repeat: no-repeat;
  border-radius: 30px;
  max-width: 378px;
}
.game-image4 {
  background-image: url(/kartinki/card4.jpg);
  background-repeat: no-repeat;
  border-radius: 30px;
  max-width: 378px;
  height: 551px;
}
.game-image5 {
  background-image: url(/kartinki/card5.jpg);
  background-repeat: no-repeat;
  border-radius: 30px;
  max-width: 378px;
}
.game-image6 {
  background-image: url(/kartinki/card6.jpg);
  background-repeat: no-repeat;
  border-radius: 30px;
  max-width: 378px;
  height: 551px;
}
.star1 {
  position: absolute;
  color: #bcec30;
}
.top-block {
  align-self: flex-start;
}
.block-bottom {
  align-self: flex-end;
}
